@reference "../../index.css";

.gallery{
    @apply min-h-screen
    py-28
    container
    mx-auto
    px-5;
}

/* HEADER */

.header{
    @apply grid
    grid-cols-1
    lg:grid-cols-12
    gap-10
    mb-16;
}

.left{
    @apply lg:col-span-8;
}

.left h2{
    @apply text-5xl
    md:text-6xl
    font-modern-negra
    max-w-3xl;
}

.left span{
    @apply text-white;
}

.right{
    @apply lg:col-span-4
    flex
    flex-col
    justify-between
    gap-6;
}

.right p{
    @apply text-lg
    text-gray-300;
}

/* BADGE */

.badge{
    @apply inline-block
    rounded-full
    bg-white
    text-black
    px-4
    py-2
    text-sm
    font-medium
    mb-8;
}

/* RATING */

.rating{
    @apply text-3xl
    font-bold;
}

.rating span{
    @apply text-yellow
    text-5xl;
}

.ratingText{
    @apply text-sm
    text-gray-400
    mt-2;
}

/* TOP GRID */

.topGrid{
    @apply grid
    grid-cols-1
    xl:grid-cols-12
    gap-5
    mb-5;
}

.topGrid > div{
    @apply rounded-3xl
    overflow-hidden
    relative
    h-72;
}

.topGrid > div:nth-child(1){
    @apply xl:col-span-3;
}

.topGrid > div:nth-child(2){
    @apply xl:col-span-6;
}

.topGrid > div:nth-child(3){
    @apply xl:col-span-3;
}

/* BOTTOM GRID */

.bottomGrid{
    @apply grid
    grid-cols-1
    md:grid-cols-12
    gap-5;
}

.bottomGrid > div{
    @apply rounded-3xl
    overflow-hidden
    relative
    h-72;
}

.bottomGrid > div:nth-child(1){
    @apply md:col-span-8;
}

.bottomGrid > div:nth-child(2){
    @apply md:col-span-4;
}

/* IMAGES */

.topGrid img,
.bottomGrid img{
    @apply object-cover
    w-full
    h-full
    transition
    duration-500
    hover:scale-105;
}