@reference "../../index.css";

.list {
    @apply container
    mx-auto
    relative
    z-10
    flex
    md:flex-row
    flex-col
    justify-between
    items-stretch  
    gap-20
    pt-40
    2xl:px-0
    px-5;
}

.popular {
    @apply space-y-8
    w-full
    md:w-1/3;  
}

.loved {
    @apply space-y-8
    w-full
    md:w-1/3   
    pb-20
    md:pb-0;
}

.list h2{

    @apply text-xl
    font-medium;

}

.list ul{

    @apply space-y-8;

}

.list li{

    @apply flex
    justify-between
    items-start;

}

.info{

    @apply md:me-28;

}

.info h3{

    @apply font-modern-negra
    2xl:text-3xl
    text-xl
    text-yellow;

}

.info p{

    @apply text-sm;

}

.list span{

    @apply text-xl
    font-medium;

}